MyStocks/MyStocks/obj/
MyStocks/MyStocks/bin/
MyStocks/MyStocks.Android/obj/
MyStocks/MyStocks.Android/bin/
MyStocks/MyStocks.iOS/obj/
MyStocks/MyStocks/bin/
MyStocks/MyStocks.UWP/obj/
MyStocks/MyStocks.UWP/bin/